.vh-100
{
    height: 100vh;
}
.bg-primary
{
    background-color: #0080ff !important;
}
.bg-dark
{
    background-color: #343a40 !important;
}
.footer
{
    padding: 1rem;
}
#content .flex-grow-1
{
    flex-grow: 1;
}
